body {
  margin: 0;
  padding: 0;
  font-family: 'TT Neoris';
}
section {
  display: block;
  border: dashed;
  border-color: rgb(238, 255, 0);
}
.section-name {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.font-star {
  font-weight: 100;
  font-size: 14pt;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline;
}

/* !ПЕРВЫЙ БЛОК */

#s-1 {
  width: 100%;
  height: 671px;
}

/* Растянутый текст */

.atic-container {
  width: 1180px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  box-sizing: border-box;
}
.atic {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}
.atic span {
  display: inline-block;
}

/* Таблетка */
.tablet {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.tablet-content {
  width: 1180px;
  position: relative;
}

#tablet-image {
  width: 1179px;
  height: auto;
}
.tablet-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 230px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -3px;
  background-color: #929292;
  color: transparent;
  text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#star-1 {
  font-size: 88px;
  font-weight: 700;
  position: absolute;
  top: 184px;
  left: 534px;
  background-color: #a6a6a6;
  color: transparent;
  text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#star-2 {
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 104px;
  left: 970px;
  background-color: #a6a6a6;
  color: transparent;
  text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
/* !ВТОРОЙ БЛОК */
#s-2 {
  width: 100%;
  height: 496px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

#about-head {
  position: absolute;
  top: 150px;
  left: 50px;
}
#about-text {
  position: absolute;
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  top: 150px;
  left: 452px;
}
#about-union-1 {
  position: absolute;
  top: 150px;
  left: 405px;
}
#about-union-2 {
  position: absolute;
  top: 150px;
  left: 1205px;
}
/* !ТРЕТИЙ БЛОК */
#s-3 {
  position: relative;
  width: 100%;
  height: 669px;
}

#outline-head {
  position: absolute;
  top: 50px;
  left: 50px;
}
#outline-long-line {
  position: absolute;
  top: 70px;
  left: 195px;
}

#outline-styles {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  top: 50px;
  right: 50px;
}

#outline-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#outline-italic {
  position: relative;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
#h2-italic {
  position: absolute;
  top: 46px;
  left: 4px;
}
.grey-h2 {
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
}

.font-lines {
  position: absolute;
  display: block;
  flex-direction: column;
  width: fit-content;
  top: 117px;
  left: 50px;
}

.row {
  display: flex;
  gap: 2px;
}

.row p {
  font-family: 'TT Neoris', sans-serif;
  font-size: 28px;
  line-height: 35px;
}

/* обычные */
.row.normal .hairline {
  font-weight: 50;
  font-style: normal;
}
.row.normal .thin {
  font-weight: 100;
  font-style: normal;
}
.row.normal .extralight {
  font-weight: 200;
  font-style: normal;
}
.row.normal .light {
  font-weight: 300;
  font-style: normal;
}
.row.normal .regular {
  font-weight: 400;
  font-style: normal;
}
.row.normal .medium {
  font-weight: 500;
  font-style: normal;
}
.row.normal .demibold {
  font-weight: 600;
  font-style: normal;
}
.row.normal .bold {
  font-weight: 700;
  font-style: normal;
}

.row.normal .extrabold {
  font-weight: 800;
  font-style: normal;
}
.row.normal .black {
  font-weight: 900;
  font-style: normal;
}

/* курсив */
.row.italic .hairline {
  font-weight: 50;
  font-style: italic;
}
.row.italic .thin {
  font-weight: 100;
  font-style: italic;
}
.row.italic .extralight {
  font-weight: 200;
  font-style: italic;
}
.row.italic .light {
  font-weight: 300;
  font-style: italic;
}
.row.italic .regular {
  font-weight: 400;
  font-style: italic;
}
.row.italic .medium {
  font-weight: 500;
  font-style: italic;
}
.row.italic .demibold {
  font-weight: 600;
  font-style: italic;
}
.row.italic .bold {
  font-weight: 700;
  font-style: italic;
}
.row.italic .extrabold {
  font-weight: 800;
  font-style: italic;
}
.row.italic .black {
  font-weight: 900;
  font-style: italic;
}

#outline-demibold {
  font-size: 46px;
  line-height: 46px;
  font-weight: 600;
  text-align: center;
}

#font-in-numbers {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  top: 240px;
}

.font-in-numbers-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 28px;
}
.font-in-numbers-second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 28px;
  margin-left: 12px;
}
.outline-medium {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
.descriptions {
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* хз как в контейнер поместить */
#variable-example {
  display: flex;
  position: absolute;
  width: 1180px;
  height: 220px;
  bottom: 50px;
  left: 50px;
}

.letter-V {
  font-size: 286px;
  font-weight: 50;
  font-style: italic;
}

.letter-A1 {
  font-size: 286px;
  font-weight: 200;
  font-style: italic;
}

.letter-R {
  font-size: 286px;
  font-weight: 400;
  font-style: normal;
}

.letter-I {
  font-size: 286px;
  font-weight: 600;
  font-style: normal;
}

.letter-A2 {
  font-size: 286px;
  font-weight: 900;
  font-style: italic;
}

.letter-B {
  font-size: 286px;
  font-weight: 600;
  font-style: normal;
}

.letter-L {
  font-size: 286px;
  font-weight: 400;
  font-style: normal;
}

.letter-E {
  font-size: 286px;
  font-weight: 200;
  font-style: normal;
}

.Union {
  width: 25px;
}

/* !ЧЕТВЕРТЫЙ БЛОК */
#s-4 {
  width: 100%;
  height: 708px;
  position: relative;
}

#language-bg {
  width: 100%;
  position: absolute;
  top: 176px;
}

.languages {
  font-size: 40pt;
  letter-spacing: -3px;
  line-height: 52px;
  font-weight: 500;
  position: absolute;
  top: 204px;
  right: 1148px;
}

/* !ПЯТЫЙ БЛОК */

#s-5 {
  width: 100%;
  height: 1012px;
}

.soap {
  width: 1181px;
}

/* !ШЕСТОЙ БЛОК */
#s-6 {
  width: 100%;
  height: 570px;
  position: relative;
}

#glyph-head {
  position: absolute;
  top: 100px;
  left: 50px;
}

#glyph-head-2 {
  position: absolute;
  top: 100px;
  right: 50px;
}

#glyph-line {
  position: absolute;
  top: 120px;
  left: 156px;
}

.glyph-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  top: 177px;
  left: 50px;
}

.glyph-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.glyph-row {
  display: flex;
  gap: 4px;
}

.glyph {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 88px;
  height: 87px;
  font-size: 36px;
  font-weight: 400;
  color: #858585;

  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  outline-offset: -1px;
  border-radius: 14px;
}

/* !СЕДЬМОЙ БЛОК */
#s-7 {
  width: 100%;
  height: 1151px;
}

.Features {
  width: 580px;
}

.Features-description {
  font-size: 14px;
  color: #979797;
}

.Neo-dot-ris {
  width: 1180px;
  margin: 0 auto;
}
/* !ВОСЬМОЙ БЛОК */
.clocks {
  width: 612px;
}

.circle-frame {
  position: relative;
  width: 612px;
  margin: 0 auto;
}

.circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(var(--angle)) translate(120px)
    rotate(calc(-1 * var(--angle)));
  transform-origin: center center;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* !ДЕВЯТЫЙ БЛОК */
#s-9 {
  width: 100%;
  height: 1384px;
  position: relative;
}

#s-9 h2 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.Photo-examples {
  position: absolute;
  width: 1180px;
  gap: 20px;
  left: 50%;
  transform: translate(-50%);
  top: 123px;
}

.Photo-row {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 20px;
}

.Photo-short {
  width: 580px;
  object-fit: cover;
  display: block;
}

#Photo-long {
  display: flex;
  justify-content: center;
  width: 1180px;
}
